@use '@/scss/variables/colors.scss' as colors;

.card {
  display: flex;
  background: colors.$white;
  border: 0.1rem dashed colors.$black;
  font-size: 2rem;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media print {
    border-radius: 0;
    margin: 0;
  }

  &Horizontal.cardColumns2 {
    width: 100%;
    height: 50%;
    border-bottom: none;

    &:last-child {
      border-bottom: 0.1rem dashed colors.$black;
    }
  }

  &Vertical.cardColumns2 {
    height: 100%;
    width: 50%;
    border-right: none;

    &:last-child {
      border-right: 0.1rem dashed colors.$black;
    }
  }

  &Title {
    font-size: 1em;
    margin: 0;
  }

  &Image {
    border: 1px colors.$black dotted;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 80%;
    margin: 0 auto 20px;
    overflow: hidden;

    @media print {
      border: none;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }

    &Upload {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  }

  &UploadBtn {
    display: inline-block;
    height: 100%;
    width: 100%;
    background: url(@/assets/img/upload-img.png) center/50px 50px no-repeat;

    &:hover {
      opacity: 0.8;
    }
  }

  &UploadBrowse {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
