@import '../scss/index';

.card {
  display: flex;
  height: 15em;
  width: 10em;
  background: $white;
  border: 0.1rem solid $black;
  font-size: 2rem;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  flex-direction: column;

  @media print {
    border: 0.1rem dashed $black;
    border-radius: 0;
    margin: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &_horizontal {
    width: 15em; // 270px
    height: 10em; // 180px
  }

  &__title {
    font-size: 1em;
    margin: 0;
  }

  &__image {
    border: 1px $black dotted;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 80%;
    margin: 0 auto 20px;
    overflow: hidden;

    @media print {
      border: none;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__image-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &__upload-btn {
    display: inline-block;
    height: 100%;
    width: 100%;
    background: url(../assets/img/upload-img.png) center/50px 50px no-repeat;

    &:hover {
      opacity: 0.8;
    }
  }

  &__upload-browse {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.add-card {
  &:hover {
    color: $white;
    background: $light-grey;
  }

  @media print {
    display: none;
  }
}

.remove-btn {
  background: transparent;
  border: none;
  display: inline;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 10px;
  top: 17px;

  @media print {
    display: none;
  }
}
