* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: $fontSizeDefault;
}

body {
  font-family: $fontFamilyDefault;
}

.container {
  width: clamp(32rem, 100%, 100rem); // min-width: 320px, max-width: 1000px
  margin: 0 auto;
  padding: 0 2rem;
}

.cards {
  margin: 2rem 0;
}
