@use './variables/typography' as typography;
@use '@/scss/variables/colors.scss' as colors;

@page {
  margin: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: typography.$fontSizeDefault;
}

body {
  font-family: typography.$fontFamilyDefault;
  background: colors.$lightest;
}

@media print {
  body.landscape {
    width: 297mm;
  }
  body {
    width: 210mm;
  }
}
