// Typography
$fontSizeDefault: 0.625rem; // 10px for easy calculations (10/16)
$fontFamilyDefault: 'Montserrat';

// Colors
$black: #000;
$dark-grey: #585858;
$white: #fff;
$light-grey: #ccc;
$pacificBlue: #00a5bb;

// General
$borderRadiusDefault: 0.3rem;
