@use '@/scss/variables/colors.scss' as colors;

.addCardBtn {
  composes: card from '@/components/Card/styles.scss';

  &:hover {
    color: colors.$white;
    background: colors.$lightGrey;
  }

  &HorizontalCol2 {
    composes: cardHorizontal from '@/components/Card/styles.scss';
    composes: cardColumns2 from '@/components/Card/styles.scss';
  }

  &VerticalCol2 {
    composes: cardVertical from '@/components/Card/styles.scss';
    composes: cardColumns2 from '@/components/Card/styles.scss';
  }

  @media print {
    display: none;
  }
}
